.panel {
    margin-top: 200px;
}

.checkbox {
    color: black;
}

.brand {
    margin-top: 50px;
    font-weight: 200;
    font-family: Pacifico,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 60px;
    color: lightcoral;
}

#aad-button {
    margin-top: 100px;
}

.help {
    color: gray;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
}

.help:hover {
    color: lightcoral;
    cursor: pointer;
}

div.help {
    margin: 20px;
    width: 100%;
}